@keyframes animListWraperPop {
  0% {
    width: 0
  }
  100% {
    width: 280px;
  }
}

@keyframes animListFadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9)
  }
  50% {
    opacity: 1;
    transform: scale(1.05)
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animItemPop {
  0% {
    opacity: 0;
    transform: perspective(1000px) rotateX(-45deg);
  }
  50% {
    opacity: 1;
    transform: perspective(1000px) rotateX(-7deg);

  }
  100% {
    opacity: 1;
    transform: perspective(1000px) rotateX(0deg);
  }
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #4dacc7;
  overflow-y: hidden;
  height: 100%;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
 
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
  height: 7px;
}
 
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  /* background-color: #125061; */
}

input:hover,
input:focus, div[contenteditable=true]:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

header h4 {
  color: #fafafa;
  margin: 20px 0 5px 20px;
}

.container {
  padding: 10px;
  display: inline-block;
}

.list-wraper {
  display: inline-block;
  width: 280px;
  vertical-align: top;
  margin: 2px;
  animation: animListWraperPop 300ms ease;
}

.list-wraper.btn-new-list-container {
  animation: none;
}

.list {
  background-color: #ebecf0;
  box-sizing: border-box;
  padding: 9px;
  border-radius: 3px;
  font-size: 14px;
  opacity: 0;
  animation: animListFadeInScale 300ms ease 300ms 1 forwards;
}

.list strong {
  padding: 2px 0;
}

.list .btn-more {
  color: #444;
  padding: 3px;
  position: absolute;
  right: 10px;
}

.list .btn-more::after {
  content: '···';
}

.list .btn-more:hover::after {
  content: '✕'
}

.items-container {
  padding: 7px 4px;
  overflow: auto;
}

.item {
  background-color: #fefefe;
  border-radius: 3px;
  padding: 5px 17px 5px 7px;
  border: 1px solid #fefefe;
  box-shadow: 0 1px 2px #aaa;
  font-size: 11px;
  position: relative;
  overflow: hidden;
  margin: 0 0 6px 0;
  cursor: pointer;
  transform-origin: center top;
  animation: animItemPop 300ms ease 1;
}

.item.selected {
  background-color: #f4f5f7;
}

.item-text {
  word-break: break-all;
  z-index: 20;
}

.inp-item-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  opacity: 0;
  z-index: 10;
}

.btn-edit {
  top: 5px;
  right: -20px;
  opacity: 0;
  position: absolute;
  transition: right 300ms ease-in-out;
}

.item:hover .btn-edit {
  right: 3px;
  opacity: 1;
}

.input-container div {
  display: inline-block;
  vertical-align: middle;
}

.btn {
  background: transparent;
  border: 1px solid transparent;
}

.btn-add-list {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 8px 18px 12px 14px;
  color: #fafafa;
  border: 1px solid transparent;
  display: block;
  border-radius: 3px;
  transition: all 300ms ease;
}

.btn-add-list:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.inp-transparent {
  border: 1px solid transparent;
  background-color: transparent;
}

.txt-note {
  padding: 7px 5px;
  width: 210px;
}

.inp-title {
  font-weight: bold;
  width: 210px;
}

.btn-reset {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #fafafa;
  background-color: #ff2d55;
  padding: 10px;
  border-radius: 5px;
}